{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этой странички, меня зовут Дмитрий</h1>
<p>
  Да, страничка выглядит сухо и невзрачно, но всё-таки она существует, а значит я не впустую потратил своё время.
</p>
<p>
  Когда-нибудь я с улыбкой вспомню с чего начинал :) Тому, кто это прочитал, отправляю лучи добра! 
</p>

<iframe src="https://giphy.com/embed/sIIhZliB2McAo" 
        width="480" height="304" frameBorder="0" 
        class="giphy-embed" allowFullScreen>
</iframe>
<a href="https://giphy.com/gifs/nyan-cat-sIIhZliB2McAo"></a>
{% endblock %} 